<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BibliotecaTP3.Properties.Settings.BibliotecaPruebaConnectionString"
            connectionString="Data Source=DESKTOP-IOVJ40O;Initial Catalog=BibliotecaPrueba;Persist Security Info=True;User ID=sa;Password=root;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>